.header {
    height: 60px;
    background-color: #313131;
    display: flex;
    align-items: center;
}

.header__img {
    margin-left: 10px;
}

.header__h1 {
    color: #eeeeee;
    margin: 0 14px;
    font-size: 1.1rem;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    font-size: 0.9rem;
}

.menu__iten a {
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

.menu__iten a:hover {
    background-color: #222;
}
