<main class="main">

    <div class="product-box" *ngFor="let product of products">
        <div class="product-box__img-box">
            <img class="product-box__img-box__img" [src]="product.picture" alt="">
        </div>
        <div class="product-box__title"> {{ product.title }} </div>
        <div class="product-box__description" style="margin-top: 6px;">{{ product.description }}</div>
        <div class="product-box__price" style="margin-top: 6px;">{{ product.price }}</div>
    </div>

</main>